*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
nav{
    margin-right: 20px;
    margin-top: 10px;
    
   
}
nav ul li{
    list-style: none;
    padding: 5%;

}

nav ul{
    display: flex;
    justify-content: flex-start;
    padding-right: 70px;
}

/*main styling*/

main{
    background-color: blanchedalmond;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 70vh;
    background-color: blueviolet;
    display: flex;

}
.container .left-text{
    height: 70vh;
    width: 50%;
    background-color:whitesmoke;


}
.container .left-text .note{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container .left-text .reg{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.container .left-text button{
    padding: 13px 40px ;
    background-color: blueviolet;
    border-radius: 10px;
    margin-left: 20px;
 
}
.container .left-text .info{
    width: 100%;
    height: 40%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    
}

.container .right-img{
    height: 70vh;
    width: 50%;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;

    
    


}


