*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
nav{
    margin-right: 20px;
    margin-top: 10px;
    
   
}
nav ul li{
    list-style: none;
    padding: 5%;

}
nav ul li:hover{
    color: yellow;
    cursor: pointer;
    transform: scale(1.2);
}

nav ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

/*main styling*/

.parent{
    background-color: rgb(236, 231, 240);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 70vh;
    background-color: blueviolet;
    display: flex;

}
.parent .left-text{
    height: 100vh;
    width: 40%;
    background-color:whitesmoke;


}
.parent .left-text .note{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.parent .left-text .reg{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.parent .left-text button{
    padding: 13px 40px ;
    background-color: rgb(52, 22, 112);
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    transition: all ease-in-out 0.4s;
 
}
.parent .left-text button:hover{
    background-color: goldenrod;
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 50px;
}

.parent .left-text .info{
    width: 100%;
    height: 40%;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}


.parent .right-img{
    height: 100vh;
    width: 40%;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
/*styling for page 2

section{
    background-color: blanchedalmond;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.container2{
    background-image: url("../images/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 90vh;
   


}
.writeup{
    background-color: rgb(237, 240, 230);
    width: 40%;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 100;
}


/*styling for page 3
 .container3{
    width: 100%;
    height: 70vh;
    background-image: url("../images/course.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;

}*/
 .parent2{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5px;

}
.card{
    width: 200px;
    height: 200px;
    background-color: yellow;
    
}
/*lastpage*/
.lastpage{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside .right{
    height: 80vh;
    width: 50%;
    background-image: url("../images/page2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.inside .left{
    width: 90%;
    height: 80vh;
    background-color: yellow ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.one{
    display:flex;
    margin-top: 30px;
}


/*styling page 5*/
#page5{
    width: 100%;
    height: 100vh;
}
.get-in-touch{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
.first-row{
    width: 100%;
    height: 80%;
    display: flex;
}
.first-row .rightimage{
    width: 50%;
    height: 100%;
    background-image: url("../images/rightimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    
.first-row .leftimage{
    width: 50%;
    height: 100%;
    background-image: url("../images/leftimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.leftimage-box{
    width: 60%;
    height: 100%;
    background-color: #ff6433;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.second-row{
    background-color: blueviolet;
    height: 20%;
    width: 100%;
}
.second-row-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: beige;
     
}

/*responsive on mobile view */


